body{
    margin: 0;
    padding: 0;
    block-size: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 10%;
    background-color: rgb(216, 216, 216);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.main{
    margin-top: 30px;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
.button{
    position:fixed;
    bottom:30px;
}
.button button{
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(74, 255, 98);
    border: none;
    transition: 200ms ease-in-out;
}

.button button:hover{
    color: white;
    background-color: rgb(0, 176, 23);

}
.card{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 150px;
    width: 400px;
    border-radius: 20px;
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.3);
}
.inner{
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
}
#author{
    font-weight: bold;
}
#author P{
    font-weight: normal;
    color: rgb(141, 141, 141);
}
.gap{
    height: 100px;
}